body {
      background: url('https://s31.postimg.org/kzxfxinwb/trees.jpg');
      background-size: cover;
    }
    .loading {
      color: #ccc;
    }

    ::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #4E5D6C;
    }

    ::-webkit-scrollbar
    {
      width: 12px;
      background-color: #4E5D6C;
    }

    ::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #CCC;
    }

    .uppercase {
      text-transform: uppercase;
    }

    .glyphicon-2x {
      font-size: 2em;
      margin-top: 8px;
    }
    .glyphicon-2x:hover {
      cursor: pointer;
      color: #F39C12;
    }

    h1 small {
      color: #333;
    }
    .no-margin-bottom {
      margin-bottom: 2px;
    }
    .sidenav {
      overflow-y: auto;
      overflow-x: hidden;
      height: 80vh;
      background: rgba(255, 255, 255, .9);
      padding: 10px 10px;
      color: #000;
    }

    .divider {
      height: 1px;
      margin: 9.5px 0;
      overflow: hidden;
      background-color: #2b3e50;
    }

    .chart1, .chart2, .chart3, .chart4 {
      height:30vh;
    }
    .categories:hover {
      cursor: pointer;
    }

    a {
      color: #000;
    }

    a:hover, a:focus {
      color: #fff;
    }

    /* Styles go here */

    path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #ccc;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    .axis text{
      fill: #ccc;
    }

    .navbar {
      border-radius: 0px;
      background: rgba(10, 10, 10, .6);
    }

    .btn-download {
      height: 64px;
    }

    .panel {
      background: rgba(10, 10, 10, .8);
    }

    input {
      background:transparent;
      font-size:16px;
      border:1px solid #ddd;
      border-width:0 0 1px 0;
      border-radius: 0;
      line-height:40px;
      height:40px;
      width:100%;
      outline:none;
    }
    ul#my-tree {
      margin:0;
      padding:10px 5px;
      color:#666;
    }
    ul#my-tree li{
      margin:8px 0;
    }
    div.desc {
      margin:20px 0;
      color:#aaa;
      font-size:11px;
      text-align:left;
    }