<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Village Analytics Portal</title>
  <link href="https://bootswatch.com/darkly/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" rel="stylesheet">
  <link href="static/css/jquery.treefilter.css" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.0/bootstrap3-typeahead.min.js"></script>
  <script src="static/css/jquery.treefilter-min.js"></script>
  <style>
    .maincontainer {
      display: flex;
      flex-wrap: wrap;
      /*flex-direction: column;*/
    }
    .maincontainer .panel {
      width: 35vw;
      margin-left: 1rem;
    }
    .panel-default>.panel-title {
      background-color: #464545;
    }
    .remove-chart-1:hover, .remove-chart-2:hover,
    .remove-chart-3:hover, .remove-chart-4:hover {
      cursor: pointer;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="#">Village Analytics</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav" id="typeahead-form-container">

          <script type="text/html" id="typeahead-form">
            <% _.each(levels, function(i) { %>
              <li class="navbar-form">
                <div class="form-group">
                  <input type="text" id="typeahead-<%=i%>" class="form-control" placeholder="<%=i%>">
                </div>
              </li>
            <% }) %>
          </script>

        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle subset btn btn-sm btn-info" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">None <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">None</a></li>
            <li><a href="#">Same district</a></li>
            <li><a href="#">Same state</a></li>
          </ul>
        </li>
        <li><button class="btn btn-sm btn-default btn-download"><span class="glyphicon glyphicon-cloud-download glyphicon-2x downlaod-data"></span></button></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="sidenav">
          <input type="search" id="my-search" placeholder="Search Categories">
          <ul id="my-tree">
            {% for i in datavars['category'].unique() %}
              <li>
                <div class="tree-toggler nav-header categories">{{ i.upper() }}</div>
                <ul class="nav nav-list tree">
                  {% for index, row in datavars[datavars['category'] == i].iterrows() %}
                    <li><div id="{{row['varname']}}" class="category">{{ row['description'].upper() }}</div></li>
                  {% endfor %}
                </ul>
              </li>
              <li class="divider"></li>
            {% endfor %}
          </ul>
          <!-- <ul class="nav nav-list">
            {% for i in datavars['category'].unique() %}
              <li>
                <label class="tree-toggler nav-header categories">{{ i.upper() }}</label>
                <ul class="nav nav-list tree">
                  {% for index, row in datavars[datavars['category'] == i].iterrows() %}
                    <li><a href="#" id="{{row['varname']}}" class="category">{{ row['description'].upper() }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li class="divider"></li>
            {% endfor %}
          </ul> -->
        </div>
      </div>
      <div class="col-md-9">
        <div class="maincontainer">
          <div class="panel panel-default" id="chart-1" style="display: none;">
            <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left chart-heading-1">Chart</h4>
              <div class="pull-right remove-chart-1" data-i="1"><span class="glyphicon glyphicon-remove"></span></div>
            </div>
            <div class="panel-body">
              <span class="loading-1" style="display:none;">Loading...</span>
              <div class="chart1"></div>
            </div>
          </div>
          <div class="panel panel-default" id="chart-2" style="display: none;">
            <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left chart-heading-2">Chart</h4>
              <div class="pull-right remove-chart-2" data-i="2"><span class="glyphicon glyphicon-remove"></span></div>
            </div>
            <div class="panel-body">
              <span class="loading-2" style="display:none;">Loading...</span>
              <div class="chart2"></div>
            </div>
          </div>
          <div class="panel panel-default" id="chart-3" style="display: none;">
            <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left chart-heading-3">Chart</h4>
              <div class="pull-right remove-chart-3" data-i="3"><span class="glyphicon glyphicon-remove"></span></div>
            </div>
            <div class="panel-body">
              <span class="loading-3" style="display:none;">Loading...</span>
              <div class="chart3"></div>
            </div>
          </div>
          <div class="panel panel-default" id="chart-4" style="display: none;">
            <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left chart-heading-4">Chart</h4>
              <div class="pull-right remove-chart-4" data-i="4"><span class="glyphicon glyphicon-remove"></span></div>
            </div>
            <div class="panel-body">
              <span class="loading-4" style="display:none;">Loading...</span>
              <div class="chart4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  var tempCategory;
  var tempCatname;
  var slots = [1,2,3,4];
  var tempslots = slots;
  var selectedCats = [];
  var scats = [];
  var drawncharts = {};

  var sunsetdict = {
    "Comparison set": "country",
    "None": "country",
    "Same district": "district",
    "Same state": "state"
  }

  function getData(uri, chartid) {
    d3.json('/api?'+uri, function(json) {
      drawChart(json.data, 'x', 'y', json.perc, json.pos, chartid)
    })
  }

  // Render the dropdown search thing
  var levels = ['state', 'district', 'subdistrict', 'village'];
  var template = _.template($("#typeahead-form").html());
  $("#typeahead-form-container").html(template({levels: levels}));


  var h = {
    'state': 'district',
    'district': 'subdistrict',
    'subdistrict': 'village'
  }

  // Really clever code below
  // Like really.
  // It is an amazing piece of code. Look at it! Just look at it!
  function update_search(g, f, i) {
    let uri = g === 'state' ? `?get=state`: `?get=${g}&for=${f}&id=${i}`
    d3.json('/locations' + uri, function(data) {
      $(`#typeahead-${g}`).typeahead('destroy')
      $(`#typeahead-${g}`).typeahead({
        source: data,
        displayText: function(item) { return item[`${g}_name`] },
        updater: function(item) {
          if (g === 'village') {
            sessionStorage.setItem('village_code', item.village_code);
            if (_.keys(drawncharts).length > 0) {
              var sbst = $.trim($(".subset:first-child").text());
              updatedraw(sbst, item.village_code);
            } else {
              redraw(item.village_code);
            }
          }
          else update_search(h[g], g, item[`${g}_code`])
          return item;
        }
      })
    })
  }

  update_search('state')

  var slotssize = {
    1: {w: '35vw', h: '30vh' },
    2: {w: '70vw', h: '40vh' },
    3: {w: '70vw', h: '40vh' },
    4: {w: '35vw', h: '30vh' },
    0: {w: '35vw', h: '30vh' }
  }

  function updatedraw(subset, village_id){
    _.each(drawncharts, function(c, _id){
      var _uri = `village=${village_id}&metric=${c}&subset=${sunsetdict[subset]}`
      var tempval = _id.split('-')[1]
      $(`.loading-${tempval}`).show();
      getData(_uri, tempval)
    })
  }

  function redraw(village_id) {
    var _subset = $.trim($(".subset:first-child").text());
    var _category = tempCategory === undefined ? 'TOT_M' : tempCategory
    var _catname = tempCatname === undefined ? 'Total Males' : tempCatname
    var _url = `village=${village_id}&metric=${_category}&subset=${sunsetdict[_subset]}`
    var tval = tempslots.shift()
    selectedCats.push(tval)
    drawncharts[`#chart-${tval}`] = tempCategory
    $(`.loading-${tval}`).show();
    getData(_url, tval)
    $(`.chart-heading-${tval}`).html(_catname)
    $(`#chart-${tval}`).show()
    _.each(selectedCats, function(c){
      $(`#chart-${c}`).css('width', slotssize[tempslots.length].w)
      $(`.chart${c}`).css('height', slotssize[tempslots.length].h)
    })
  }

  $('[class*="remove-chart-"]').click(function(){
    var rval = +this.getAttribute('data-i');
    tempslots.push(rval)
    var ctname = $(`.chart-heading-${rval}`).text();
    scats.splice(scats.indexOf(ctname), 1)
    selectedCats.splice(selectedCats.indexOf(rval), 1)
    $(`.loading-${rval}`).hide();
    $(`#chart-${rval}`).hide();
    delete drawncharts[`#chart-${rval}`]
    _.each(selectedCats, function(c){
      $(`#chart-${c}`).css('width', slotssize[tempslots.length].w)
      $(`.chart${c}`).css('height', slotssize[tempslots.length].h)
    })
  })

  $('.category').on('click', function() {
    var cat = this.getAttribute('id')
    var catname = this.innerHTML
    tempCategory = cat
    tempCatname = catname
    if (scats.indexOf(catname) < 0) {
      if (tempslots.length > 0) {
        scats.push(catname)
        redraw(sessionStorage.getItem('village_code'))
      } else {
        alert("Maximum four Categories can be selected for Comparison")
      }
    } else {
      alert("Category already selected!")
    }
  })

  $(".dropdown-menu").on('click', 'li a', function(){
    $(".subset:first-child").html($(this).text()+' <span class="caret"></span>');
    // console.log(sessionStorage.getItem('village_code'))
    // redraw(sessionStorage.getItem('village_code'))
    updatedraw($(this).text(), sessionStorage.getItem('village_code'))
  });

  $(function() {
    var tree = new treefilter($("#my-tree"), {
      searcher : $("input#my-search"),
      multiselect : true
    });
  });

  // $(document).ready(function () {
  //   $('label.tree-toggler').click(function () {
  //     $(this).parent().children('ul.tree').toggle(300);
  //   });
  // });


  function drawChart(df, xcol, ycol, dataMean, dataPos, chartid) {
    var margin  = { top: 30, right: 20, bottom: 80, left: 80 },
        width   = 960 - margin.left - margin.right,
        height  = 280 - margin.top - margin.bottom;

    var vw = width + margin.left + margin.right,
        vh = height + margin.top + margin.bottom;

    var chartholder = d3.select(`.chart${chartid}`)
    chartholder.selectAll('*').remove()

    var svg = chartholder.append("svg")
        .attr("preserveAspectRatio", "xMidYMid meet")
        .attr("viewBox", `0 0 ${vw} ${vh}`)
        .append("g")
        .attr("transform", `translate(${margin.left}, ${margin.top})`);

    if (df === undefined) {
      $('.chart').html('<p>No data available for this selection.</p>')
      $(`.loading-${chartid}`).hide()
    }
    else {
      var x = d3.scale.linear().range([0, width]),
          y = d3.scale.linear().range([height, 0]);

      var xAxis = d3.svg.axis().scale(x).orient("bottom"),
          yAxis = d3.svg.axis().scale(y).orient("left").ticks(5);

      var line = d3.svg.line()
          .x(d => x(d[xcol]))
          .y(d => y(d[ycol]))
          .interpolate('basis');

      x.domain(d3.extent(df, d => d[xcol] ))
      y.domain(d3.extent(df, d => d[ycol] ))

      svg.append("g")
        .attr("class", "x axis")
        .attr("transform", `translate(0, ${height})`)
        .call(xAxis);

      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis);

      svg.append("g")
          .attr("class", "y axis")
        .append("text")
          .attr("y", -24)
          .attr("x", -68)
          .attr("dy", ".71em")
          .style("text-anchor", "start")
          .text("Frequency");

      svg.append("g")
          .attr("class", "x axis")
        .append("text")
          .attr("y", height+50)
          .attr("x", width/2.2)
          .attr("dx", ".35em")
          .style("text-anchor", "start")
          .text("Log");

      svg.append("path")
          .datum(df)
          .attr("class", "line")
          .attr("d", line);

      // percentile line
      svg.append("line")
          .attr("x1", x(dataPos))
          .attr("y1", 0)
          .attr("x2", x(dataPos))
          .attr("y2", height)
          .style("stroke-width", 2)
          .style("stroke-dasharray", '5, 5')
          .style("stroke", "red")
          .style("fill", "none");

      svg.append("text")
          .attr("x", x(dataPos)+5)
          .attr("y", 0)
          .text(`Percentile: ${(dataMean*100).toFixed()}th`)
          .style("fill", "#fff");

      $(`.loading-${chartid}`).hide();
    }
  }

  $('.downlaod-data').on('click', function() {
      window.location.assign(`/download?village=${sessionStorage.getItem('village_code')}`);
  })
  </script>
</body>
</html>